{% extends "saf/base_site.html" %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}
{% block extrajs %}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1>Mapa de cobertura</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <select id="medios_dropdown" class="custom-select custom-select-sm">
                    <option selected>Medios:</option>
                    <option value="1">LTE</option>
                    <option value="2">LTE - RS</option>
                    <option value="3">Planta Externa</option>
                    <option value="4">Radio Enlace</option>
                    <option value="5">Radwin</option>
                    <option value="6">Satelital</option>
                </select>
                {#                <div class="dropdown">#}
                {#                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"#}
                {#                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        Medio:#}
                {#                    </button>#}
                {#                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
                {#                        <a class="dropdown-item" href="#">LTE</a>#}
                {#                        <a class="dropdown-item" href="#">LTE - RS</a>#}
                {#                        <a class="dropdown-item" href="#">Planta Externa</a>#}
                {#                        <a class="dropdown-item" href="#">Radio Enlace</a>#}
                {#                        <a class="dropdown-item" href="#">Radwin</a>#}
                {#                        <a class="dropdown-item" href="#">Satelital</a>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="col-7">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar una dirección"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="col-2 offset-1">
                <button type="button" class="btn btn-sm btn-outline-primary">Guardar</button>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="form-group">
        <label id="label_latlng">latlng</label>
        <label id="label_msg">message</label>
    </div>
    <style>

        #content_ {
            margin: 0;
        }

        #map {
            height: 70vh;
            width: 100%;

            min-height: 100%;
            max-height: none;
        }

    </style>
    <script>

        // This example uses the Google Maps JavaScript API's Data layer
        // to create a rectangular polygon with 2 holes in it.

        var features;
        var map;

        var markers = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: -12.0911465, lng: -77.0138004},
            });
            {#data = new google.maps.Data();#}
            {#data.loadGeoJson('/saf_proy/media/map.geojson');#}
            {#data.setMap(map)#}
            $.getJSON('https://storage.googleapis.com/maps-devrel/google.json', function (data) {
                features = map.data.addGeoJson(data);

            });
            {#map.data.addGeoJson('/saf_proy/media/map.geojson');#}
            {#map.data.loadGeoJson('/saf_proy/media/map.geojson');#}

            map.addListener('click', function (event) {
                addMarker(event.latLng);
                {#console.log(event.latLng);#}
                document.getElementById('label_latlng').innerHTML = '';
                document.getElementById('label_latlng').innerHTML = event.latLng.lat() + ',' + event.latLng.lng();

                document.getElementById('label_msg').innerHTML = '';
                $.getJSON('/saf/cobertura_api/?latlng=+' + event.latLng.lat() + ',' + event.latLng.lng() + '+&medio=2', function (data) {
                    document.getElementById('label_msg').innerHTML = data.result;
                    {#console.log(data);#}
                });
            });

            map.data.addListener('click', function (event) {
                {#console.log(event.latLng.lat() + ',' + event.latLng.lng());#}
                addMarker(event.latLng);
                document.getElementById('label_msg').innerHTML = '';
                document.getElementById('label_latlng').innerHTML = '';
                $.getJSON('/saf/cobertura_api/?latlng=+' + event.latLng.lat() + ',' + event.latLng.lng() + '+&medio=2', function (data) {
                    document.getElementById('label_latlng').innerHTML = event.latLng.lat() + ',' + event.latLng.lng();
                    document.getElementById('label_msg').innerHTML = data.result;
                    {#console.log(data);#}
                });
            });
            map.data.setStyle(function () {
                return /** @type {google.maps.Data.StyleOptions} */({
                    {#fillColor: 'black',#}
                    icon: "https://maps.gstatic.com/mapfiles/ms2/micons/marina.png",
                    strokeWeight: 0.2
                });
            });


        }

        function addMarker(location) {
            deleteMarkers();
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function drop_geojson() {
            map.data.forEach(function (feature) {
                // If you want, check here for some constraints.
                map.data.remove(feature);
            });
        }

        $(document).ready(function () {
            $('#medios_dropdown').change(function () {
                if ($(this).val() == 1) {
                    {#console.log('ok');#}
                    drop_geojson();
                }
                else if ($(this).val() == 2) {
                    $.getJSON('/saf_proy/media/data_geojson/map.geojson', function (data) {
                        features = map.data.addGeoJson(data);

                    });
                }

            });
        });
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMXkV6UjKankZEOe6w_drp8WYKEcg5oek&libraries=visualization&callback=initMap">
    </script>
{% endblock %}
